// Import Fuse core library
@import "./@fuse/scss/core.scss";

// Import app.theme.scss
@import "./app/app.theme.scss";

.custom-snackbar {
    background: #E7EDF1 !important;
    color: #303233 !important;
    height: 60px!important;
    width: 100px!important;
  
    simple-snack-bar {
      font-weight: 700 !important;
      font-size: 14px !important;
    }
  }